body {
  background:#FAFAFA;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
	line-height: 1.6em
  width:80%;
  height:70%;
}

a {
  text-decoration:none;
  color:#2196F3;
  }
  a.start{

  	color:white;
  	background:#009688;
  	border-left: 7px #009688 solid;
  	padding:6px 13px;
  }
  .Wel{
    color:#FAFAFA;
    font-size:30px;
  }

.form {
  background:#093142;
  padding: 40px;
  max-width:900px;
  margin:118px auto;
  border-radius:2px;
  box-shadow:0 8px 10px 4px rgba;
  font-family: 'Titillium Web', sans-serif;
  width:70%;
  max-height:900px;
}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba($gray-light,.25);
    color:$gray-light;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      background-color:green;
      color:blue;
    }
  }
  .active a {
    background-color:black;
    color:white;
  }
}

.tab-content > div:last-child {
  display:none;
}


h1 {
  text-align:center;
  color:white;
  font-weight:$thin;
  margin:0 0 40px;
}

label {
  display: inline-block;
  	width: 50px;
  }
}

label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

label.highlight {
    color:$white;
}

.log {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background-color:aliceblue;
  border:1px solid $gray-light;
  color:white;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;

}

textarea {
  border:4px solid $gray-light;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
  width: 24%;
  background-color: #093142;
	margin: 30px auto;
	overflow: auto;
}






.login {

  }
  .register {

    border-radius:0;
    padding:15px 0;
    font-size:18rem;
    font-weight:$bold;
    text-transform:uppercase;
    letter-spacing:.1em;
    background:$main;
    color:$white;
    transition:all.5s ease;
    -webkit-appearance: none;
    &:hover, &:focus {
      background:$main-dark;
    }


.button-block {
  display:block;
  width:150%;
  font-size: medium;
  background-color:aliceblue;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}
